<div class="content">
  <span>{{title}} is running!</span>
</div>

<p (click)="titleclicked(thispara.innerText)" #thispara>{{title}}</p>

<h1>{{something}}</h1>
<a routerLink="/dashboard">Dashboard</a>
<button class="login" (click)="loginuser()" routerLink="/login">Login</button>
<br>
<button class="register" (click)="registeruser()" routerLink="/register">Register</button>
<br>
<button (click)="viewdiscussions()" routerLink="/discussions">View Discussions</button>

<router-outlet></router-outlet>
