<!--<p (click)="titleclicked(thispara.innerText)" #thispara>{{title}}</p>-->

<!--<h1>{{something}}</h1>-->

<ul>
  <li><a routerLink="/dashboard">Dashboard</a></li>

  <li class="rightAln"><a class="register" (click)="registeruser()" routerLink="/register">Register</a></li>

  <li class="rightAln"> <a class="login" (click)="loginuser()" routerLink="/login">Login</a></li>

  <li><a class="viewdiscussions" (click)="viewdiscussions()" routerLink="/discussions">View Discussions</a></li>
</ul>


<router-outlet></router-outlet>
