<body>
  <div class="topbar">
    <h1>
      Top Header
    </h1>
  </div>
  <div class="main">
    <div class="header">
      <h3 class="title">
        Thread 1
      </h3>
      <div class="bottom">
        <p class="timestamp">
          9/25/2021
        </p>
        <p class="commentcount">
          4
        </p>
      </div>
    </div>
  </div>
  <textarea></textarea>
  <button>Add Comment</button>
  <div class="comments">
    <div class="comments">
      <div class="topcomment">
        <p class="user">
          Cory
        </p>
        <p class="comment-ts">
          9/25/2021
        </p>
      </div>
      <div class="commentcontent">
        comment text
      </div>
    </div>
  </div>

  <div class="comments">
    <div class="comments">
      <div class="topcomment">
        <p class="user">
          Cory
        </p>
        <p class="comment-ts">
          9/25/2021
        </p>
      </div>
      <div class="commentcontent">
        comment text
      </div>
    </div>
  </div>

</body>