label {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  text-align: left;
  width: 400px;
  line-height: 20px;
  margin-bottom: 1px;
}

input {
  height: 20px;
  flex: 0 0 200px;
  margin-left: 10px;
}