<p>dashboard works!</p>
<br />
<p>The list of games will be displayed here when the app starts </p>


<ul>
  <li *ngFor="let user of userlist">
    {{user.userId}}  {{user.firstName}}  {{user.lastName}}  {{user.email}}  {{user.dob}}  {{user.Username}}  {{user.Password}}
  </li>

</ul>


<ul>
  <li *ngFor="let game of gamelist">
    {{game.id}} {{game.Name}} {{game.Description}} {{game.Released}} {{game.BackgroundImage}} {{game.Rating}} {{game.Platform}}

  </li>

</ul>



<div>
  <h3>Please Log In</h3>

  <form (submit)="loginUser($event)">
    <div class="container">
      <label for="fname">First Name:</label>
      <input type="text" name="username" id="username" placeholder="username">
      <br>
      <label for="lname">Last Name:</label>
      <input type="text" name="password" id="password" placeholder="password">
      <button type="submit">Submit</button>
    </div>
  </form>
</div>



<!--<div style="text-align:center">
  <h1>
    Welcome!
  </h1>
  <button (click)="getGames()">Fetch Data</button>
</div>-->


<button (click)="getGames()">Fetch Data</button>


<div *ngFor="let game of data" style="text-align:center">
  <h3>
    {{ game.name }}
  </h3>
  <img width="200" alt="thumbnail" [src]="game.background_image">
</div>
