<!--<p>dashboard works!</p>
<br />
<p>The list of games will be displayed here when the app starts </p>-->


<!--<ul>
  <li *ngFor="let game of gamelist">
    {{game.id}} {{game.Name}} {{game.Description}} {{game.Released}} {{game.BackgroundImage}} {{game.Rating}} {{game.Platform}}

  </li>

</ul>-->



<!--<div>
  <h3>Please Log In</h3>

  <form (submit)="loginUser($event)">
    <div class="container">
      <label for="fname">First Name:</label>
      <input type="text" name="username" id="username" placeholder="username">
      <br>
      <label for="lname">Last Name:</label>
      <input type="text" name="password" id="password" placeholder="password">
      <button type="submit">Submit</button>
    </div>
  </form>
</div>-->



<!--<div style="text-align:center">
  <h1>
    Welcome!
  </h1>
  <button (click)="getGames()">Fetch Data</button>
</div>-->





<div class="container">

  <div style="text-align:center">
    <h1>
      Welcome to Project Smoke
    </h1>


  </div>

  <div class="gallery" *ngFor="let game of data">
    <a href="discussions">
      <img width="200" alt="thumbnail" [src]="game.background_image">
    </a>
    <h3>
      {{ game.name }}<br />
      Ratings: {{game.rating}}
      Description: {{game.description}}
      Platform: {{game.platform}}
      Released: {{game.released}}

    </h3>

  </div>

</div>